# Dependências (Nunca envie esta pasta!)
node_modules/

# Arquivos de log do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build/distribuição (Arquivos JS gerados pelo TS)
dist/
build/
out/

# Variáveis de ambiente (Segurança: senhas, chaves de API)
.env
.env.local

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db